<header
  class="flex h-fit items-center justify-between bg-blue-300 p-5 px-24 text-stone-900"
>
  <span class="text-3xl font-bold">ANGULAR COUNTER</span>
  <div class="flex gap-3">
    <a
      href="https://github.com/Sckab/angular-counter"
      class="hover:underline"
      target="_blank"
    >
      Github Repo
    </a>
    <button
      (click)="toggleTheme()"
      class="mt-0.5 hover:cursor-pointer"
    >
      @if (this.themeService.theme === 'light') {
        <span class="icon-[solar--sun-2-bold]"></span>
      } @else if (this.themeService.theme === 'dark') {
        <span class="icon-[solar--moon-bold]"></span>
      } @else if (this.themeService.theme === 'system') {
        <span class="icon-[solar--monitor-bold]"></span>
      }
    </button>
  </div>
</header>
