<div class="flex flex-col gap-2">
  <span class="w-full text-center text-3xl text-stone-900 dark:text-blue-300">
    {{ number }}
  </span>
  <div class="flex gap-2">
    <button
      (click)="increment()"
      class="rounded-md bg-blue-300 p-2 font-bold text-stone-900 hover:cursor-pointer"
    >
      INCREMENT
    </button>
    <button
      (click)="reset()"
      class="rounded-md bg-blue-300 p-2 font-bold text-stone-900 hover:cursor-pointer"
    >
      RESET
    </button>
    <button
      (click)="decrement()"
      class="rounded-md bg-blue-300 p-2 font-bold text-stone-900 hover:cursor-pointer"
    >
      DECREMENT
    </button>
  </div>
</div>
